body {
  background-color: #fffdd0;
  color: rgb(0, 0, 0);
  padding: 40px;
  font-family: Arial;
}

.imgAndWordChangeContainer  {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

ul li{
  display: inline-block;
  margin-right: 20px;
}

.header{
  text-align: center;
}

.titleLine{
  display: inline-block;
  margin-right: 20px;
}

.imgAndWordChangeContainer {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

img{
  width: 400px;
  height: 400px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 100px;
  border-radius: 50%;
}

.skills img{
  width: 130px;
  height: 140px;
  border-radius: 0%;
}

.WordChanger {
  font-size: 40px;
  margin-top: 100px;
  margin-right: 30px;
}

.sectionSkilledAt{
  margin-top: 100px;
  font-size: 30px;
}