body {
  background-color: #fffdd0;
  color: rgb(0, 0, 0);
  padding: 40px;
  font-family: Arial;
}

ul li{
  display: inline-block;
  margin-right: 20px;
}

.parent{
  text-align: center;
}

.titleLine{
  display: inline-block;
  margin-right: 20px;
}

img{
  border-radius: 50%;
}

.WordChanger {
  position: absolute;
  right: 10px; /* Moves the component to the right edge */
  top: 20px;  
}