@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

@keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.topLeft {
    display: flex;
    align-items: center; 
    gap: 8px;
    margin-left: 10px;
}
  
.websiteIcon {
    width: 60px;
}
  
.nameTopLeft {
    font-size: 18px;
    color: black;
    white-space: nowrap;
    text-decoration: none; 
}

.header{
    text-align: center;
  }

.titleLine{
    display: inline-block;
    margin-right: 20px;
  }

.subheader{
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}

.oddQueen {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    border: 5px solid #97B1BD;
    border-radius: 25px;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.queenImg{
    width: 200px;
    height: auto;
    margin-left: 100px;
    margin-right: 20px;
  }

.queenTitle{
    line-height: 1.1;
}

.queenDes{
    margin-top: 40px;
    margin-right: 50px;
    width: 650px;
    height: 300px;
    align-content: left;
    line-height: 1.9;
    margin-bottom: 20px;
  }

  .button {
    background-color: #EC876C;
    color: #ffffff;
    border: none;
    font-size: 15px;
    padding: 10px 10px;
    font-family: Arial;
    text-align: center;
    width: 250px;
    height: 35px;
  }

.RtR {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    border: 5px solid #97B1BD;
    border-radius: 25px;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.rtrImg{
    width: 250px;
    height: auto;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
  }

.rtrTitle{
    line-height: 1.1;
}

.rtrDes{
    margin-top: 40px;
    width: 650px;
    height: 300px;
    align-content: left;
    line-height: 1.9;
    margin-bottom: 20px;
  }

.opti {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    border: 5px solid #97B1BD;
    border-radius: 25px;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.optiImg{
    width: 250px;
    height: auto;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

.optiTitle{
    line-height: 1.1;
}

.optiDes{
    margin-top: 40px;
    width: 650px;
    height: 300px;
    align-content: left;
    line-height: 1.9;
    margin-bottom: 20px;
  }


.val {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    border: 5px solid #97B1BD;
    border-radius: 25px;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.valImg{
    width: 250px;
    height: auto;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
  }

.valTitle{
    line-height: 1.1;
}

.valDes{
    margin-top: 140px;
    width: 650px;
    height: 300px;
    align-content: left;
    line-height: 1.9;
    margin-bottom: 20px;
  }


