@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.topLeft {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 10px;
}

.websiteIcon {
  width: 50px;
}

.nameTopLeft {
  font-size: 16px;
  color: black;
  white-space: nowrap;
  text-decoration: none;
}

.header {
  text-align: center;
}

.titleLine {
  display: inline-block;
  margin-right: 15px;
}

.subheader {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}

.oddQueen, .RtR, .opti, .val {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #97B1BD;
  border-radius: 25px;
  padding: 20px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.queenImg, .rtrImg, .optiImg, .valImg {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.queenTitle, .rtrTitle, .optiTitle, .valTitle {
  line-height: 1.1;
  text-align: center;
}

.queenDes, .rtrDes, .optiDes, .valDes {
  width: 90%;
  max-width: 600px;
  line-height: 1.9;
  text-align: center;
}

.button {
  background-color: #EC876C;
  color: #ffffff;
  border: none;
  font-size: 15px;
  padding: 10px;
  font-family: Arial;
  text-align: center;
  width: 200px;
  height: 35px;
}

@media (min-width: 768px) {
  .oddQueen, .RtR, .opti, .val {
    flex-direction: row;
    padding: 30px;
  }

  .queenImg, .rtrImg, .optiImg, .valImg {
    width: 250px;
    margin: 0 20px;
  }

  .queenDes, .rtrDes, .optiDes, .valDes {
    width: 650px;
    text-align: left;
  }

  .button {
    width: 250px;
  }
}
